---
layout: infopage
title: Archivo maestro
---
<h1>Archivo</h1>
<div class="row">
<div class="col-md-8">
    <p>Esta es una lista de todos los artículos de videojuegos publicados en Guayaba 2600 hasta la fecha.</p>
</div>
<div class="col-md-4">
    <div class="input-group">
        <input class="form-control filter" id="system-search" name="q" onkeyup="filterName()" placeholder="Filtrar resultados" required>
        <div class="input-group-append">
            <span class="input-group-text">{% octicon search %}</span>
        </div>
    </div>
</div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Título</th>
        <th>Puntuación</th>
        <th>Autor</th>
        <th>Publicado el</th>
    </tr>
    </thead>
    <tbody class="searchable">
    {% assign sorted_game = site.categories.reviews | sort: 'title' %}
    {% for post in sorted_game %}
    {% if post.layout == 'review' or post.layout == 'gema' %}
    <tr>
        <td><a href="{{post.url}}">{{post.title}} </a></td>
        <td class="d-none d-sm-block">{% if post.score == 0 %}<img src="/img/zero.gif" alt="-">{% else %}
            {% include small_score_post.html %}{% endif %}</td>
        <td class="d-block d-sm-none">
            {{post.score}}
        </td>
        <td>{{post.author}} </td>
        <td>{{post.date | date_to_string }} </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="js/filter.js"></script>
