---
layout: default
---

{% for post in paginator.posts %}
<div class="row">
    <div class="col-md-12">
<div class="row">
    <div class="col-md-10 col-md-offset-1 entry">
        <h5 class="text-muted">{{post.date | date: "%d/%m/%Y"}}</h5>
        
        {% case post.layout %}
        {% when 'review' %}
            {% include indexl-review.html %}        
        {% when 'gema' %}
            {% include indexl-gema.html %}        
        {% when 'blogpost' %}
            <h3><a href="{{post.url}}">{{post.title}}</a></h3>
            {{post.content}}
        {% endcase %}
        
        <div class="row">
            <div class="col-md-12">
            <hr>
            <a href="{{post.url}}#disqus_thread" class="pull-right">Ir a comentarios</a>
            </div>
        </div>
        
    </div> <!-- div. inner -->
</div>
    </div>
</div> <!-- div.row outer -->
{% endfor %}

<div class="row">
    <div class="col-md-10 col-md-offset-1 entry">
        <ul class="pager">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <li class="previous"><a href="/">&laquo; Anterior</a></li>
                {% else %}
                <li class="previous"><a href="{{ paginator.previous_page_path}}">&laquo; Anterior</a></li>
                {% endif %}
            {% else %}
            <li class="previous disabled"><span>&laquo; Anterior</span></li>
            {% endif %}
            
            {% if paginator.next_page %}
                <li class="next"><a href="{{ paginator.next_page_path}}">Siguiente &raquo;</a></li>
            {% else %}
                <li class="next disabled"><span>Siguiente &raquo;</span></li>
            {% endif %}
            
        </ul> <!-- .pager -->
    </div>
</div> <!-- .row -->
