---
layout: default
description: "Guayaba 2600 es una web de videojuegos en español para aficionados con paladares exigentes."
---

{% for post in paginator.posts %}
    {% if forloop.first and paginator.page == 1 and post.layout == 'blogpost' %}
        {% include post-top.html %}
            <div class="row">
                <div class="col-md-10">
                    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                    {{post.content}}
                </div>
            </div>
            {% include post-bottom.html %}
    {% else %}
        {% case post.layout %}
        {% when 'review' %}
            {% include post-top.html %}
            {% include indexl-review.html %}
            {% include post-bottom.html %}
        {% when 'blogpost' %}
            {% include post-top.html %}
            <div class="row">
                <div class="col-md-12">
                    <h4><a href="{{post.url}}">{{post.title}}</a></h4>
                </div>
            </div>
            {% include post-bottom-alt.html %}
        <!-- </div>
        </div>
            </div>
        </div> -->
        {% endcase %}
    {% endif %}
{% endfor %}

<div class="row">
    {% include pagination.html %}
</div> <!-- .row -->
