---
layout: infopage
title: Lista de reseñas
---

<h1>Reseñas</h1>
<p>Esta es una lista de todas las reseñas de videojuegos publicadas en Guayaba 2600 hasta la fecha.</p>

<table class="table table-striped">
    
    <tr>
        <th>Título</th>
        <th>Puntuación</th>
        <th>Autor</th>
        <th>Publicado el</th>
    </tr>
    
    {% for post in site.categories.reviews reversed %}
    <tr>
        <td><a href="{{post.url}}">{{post.title}}</a></td>
        <td>{% if post.score == 0 %} CERO {% endif %}
        {% if post.score == 1 %} <img src="/img/guayaba_ico.gif" alt="*"> {% endif %}
        {% if post.score == 2 %} <img src="/img/guayaba_ico.gif" alt="*"><img src="/img/guayaba_ico.gif" alt="*"> {% endif %}
        {% if post.score == 3 %} <img src="/img/guayaba_ico.gif" alt="*"><img src="/img/guayaba_ico.gif" alt="*"><img src="/img/guayaba_ico.gif" alt="*"> {% endif %}
        {% if post.score == 4 %} <img src="/img/guayaba_ico.gif" alt="*"><img src="/img/guayaba_ico.gif" alt="*"><img src="/img/guayaba_ico.gif" alt="*"><img src="/img/guayaba_ico.gif" alt="*"> {% endif %} </td>
        <td>{{post.author}} </td>
        <td>{{post.date | date_to_string }} </td>
    </tr>
    {% endfor %}
    
</table>