<div class="row">
    <div class="col-md-12">
        <h3 class="game-title-header-main"><a href="{{post.url}}">{{post.title}}</a></h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 d-block d-lg-none">
        <div class="covershot-xs">
            <a href="{{post.url}}"><img src="{% include covershot_url.html %}" alt="Reseña de {{post.title}}"></a>
        </div>
    </div> <!-- small covershot -->
    <div class="col-md-5 d-none d-lg-block">
        <div class="covershot-main">
            <a href="{{post.url}}"><img src="{% include covershot_url.html %}" alt="Reseña de {{post.title}}"></a>
        </div>
    </div> <!-- large covershot -->
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
            {% if post.score == 0 %}<img src="/img/zero2x.gif" alt="*">
            {% else %}
            {% assign remainder = 4 | minus: post.score %}
            <p>
            {% for g in (1..post.score) limit:4 %}<img src="/img/guayaba_ico2x.gif" alt="*">{% endfor %}{% for g in (1..remainder) limit:4 %}<img src="/img/guayaba_ico_dim2x.gif" class="dim" alt="*">{% endfor %}
            </p>
            {% endif %}
            </div>
        </div> <!-- details section -->

        <div class="row">
            <div class="col-md-12">
            <ul class="list-unstyled">
            {% if post.originaltitle %}<li>Una reseña de <strong><em>{{post.originaltitle}}</em></strong></li>{% endif %}
            <li>Desarrollado por <strong>{{post.dev}}</strong></li>
            <li><small>Texto por {{post.author}}</small></li>
            </ul>
            {% if post.description %}<p>{{post.description | append: '.' | markdownify}}</p>{% endif %}
            {% if post.spoiler %}{% include spoiler_warning.html %}{% endif %}
            </div>
        </div>
    </div>
</div>
