<div class="row">
            <div class="col-md-12"><h3 class="game-title-header-main"><a href="{{post.url}}">{{post.title}}</a></h3></div>
        </div>
<div class="row">
    <div class="col-md-5"><a href="{{post.url}}"><img src="{% include covershot_url.html %}" alt="Reseña de {{post.title}}" class="covershot-main"></a></div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
            {% if post.score == 0 %}<img src="/img/zero2x.gif" alt="*">
            {% else %}
            {% for g in (1..post.score) limit:4 %}<img src="/img/guayaba_ico2x.gif" alt="*">{% endfor %}
            {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
            <ul class="list-unstyled">
            {% if post.originaltitle %}<li>Una reseña de <strong><em>{{post.originaltitle}}</em></strong></li>{% endif %}
            <li>Desarrollado por <strong>{{post.dev}}</strong></li>
            <li><small>Texto por {{post.author}}</small></li>
            </ul>
            </div>
        </div>
    </div>
</div>