<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar">
    <span class="sr-only">Barra Navegación</span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/archivo.html">{% octicon calendar fill:gray height:24 %} Archivo</a></li>
      <li class="nav-item dropdown">
        <a href="#" id="dd-colecciones" class="nav-link dropdown-toggle" data-toggle="dropdown">{% octicon package fill:gray height:24 %} Colecciones <b
            class="caret"></b></a>
        <div class="dropdown-menu">
          <h6 class="dropdown-header" role="presentation">Colecciones</h6>
          {% for col in site.colecciones limit:10 %}
          {% unless col.serie %}<a href="{{col.url}}" class="dropdown-item">{{col.title}}</a>{% endunless %}
          {% endfor %}
          <div class="dropdown-divider" role="presentation"></div>
          <h6 class="dropdown-header" role="presentation">Series</h6>
          {% for col in site.colecciones limit:10 %}
          {% if col.serie%}<a href="{{col.url}}" class="dropdown-item">{{col.title}}</a>{% endif %}
          {% endfor %}
          <div class="dropdown-divider" role="presentation"></div>
          <a href="/colecciones.html" class="dropdown-item">Ver todas las colecciones...</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" id="dd-plataformas" class="nav-link dropdown-toggle" data-toggle="dropdown">{% octicon device-desktop fill:gray height:24 %} Plataformas <b
            class="caret"></b></a>
        <div class="dropdown-menu">
          {% for platform in site.plataformas %}
          <a href="{{platform.url}}" class="dropdown-item">{{platform.title}}</a>
          {% endfor %}
        </div>
      </li>
    </ul> <!-- .navbar-nav 1 -->
    <ul class="navbar-nav">
      <li class="nav-item "><a href="/autores/" class="nav-link">{% octicon person fill:gray height:24 %} Autores</a>
      </li>
      <li class="nav-item"><a href="/manifiesto.html" class="nav-link">{% octicon clippy fill:gray height:24 %} Manifiesto</a></li>
      <li class="nav-item"><a href="/colabora.html" class="nav-link">{% octicon pencil fill:gray height:24 %} Colaborar</a></li>
      <li class="nav-item"><a href="/links.html" class="nav-link">{% octicon link fill:gray height:24 %} Enlaces</a></li>
      <li class="nav-item dropdown">
        <a href="#" id="dd-subscribe" class="nav-link dropdown-toggle" data-toggle="dropdown">{% octicon bookmark fill:gray height:24 %} Suscripción <b class="caret"></b></a>
        <div class="dropdown-menu">
          <a href="/rss.xml" class="dropdown-item">Entradas RSS</a>
          <a href="http://www.twitter.com/guayaba2600" class="dropdown-item">Twitter</a>
        </div>
      </li>
    </ul> <!-- .navbar-nav 2 -->
  </div>
</nav>
