<div class="row">
    <div class="col-md-8">
        {% assign col_title = {{include.coleccion}}.title %} {% assign todo_titulo = site.categories.reviews | map: 'title' %}
        <div class="card">
            <div class="card-header">
                <p class="small">Este juego pertenece a la {% if {{include.coleccion}}.serie %}serie{% else %}colección{% endif %}</p>
                <h4>{{ col_title }}</h4>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for juego in {{include.coleccion}}.miembros %}
                    {% if todo_titulo contains juego %}<a href="{% for link in site.categories.reviews %}{% if link.title == juego %}{{link.url}}{% endif %}{% endfor %}" class="list-group-item {% if {{include.juego}} == juego %}active{% endif %}">{{juego}}</a>
                    {% else %}<a class="list-group-item disabled">{{juego}} (próximamente)</a>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>