<h3>Síguenos</h3>
<ul class="list-unstyled">
  <li><a href="http://twitter.com/guayaba2600">Twitter: @guayaba2600</a></li>
  <li><a href="/rss.xml">Entradas RSS</a></li>
</ul>
<h3>Enlaces extra</h3>
<h4>Videojuegos</h4>
<ul class="list-unstyled">
  <li><a href="http://www.selectbutton.net">selectbutton</a></li>
  <li><a href="http://www.hardcoregaming101.net/">Hardcore Gaming 101</a></li>
</ul>
<h4>Personales</h4>
<ul class="list-unstyled">
  <li><a href="http://www.flackon.blogspot.com/">Philomathy</a></li>
  <li><a href="http://iacus.tumblr.com/">Read Only Memory</a></li>
</ul>