<div class="row">
<div class="col-md-12 spoiler-note">
    <div class="well well-sm" style="text-align: center">
        <strong> AVISO: Este artículo contiene spoilers</strong>
        {% case post.spoiler %}
        {% when 1 %}
        <span class="label label-info">menores</span>
        {% when 2 %}
        <span class="label label-warning">importantes</span>
        {% when 3 %}
        <span class="label label-danger">cruciales</span>
        {% endcase %}
        {% case page.spoiler %}
        {% when 1 %}
        <span class="label label-info">menores</span>
        {% when 2 %}
        <span class="label label-warning">importantes</span>
        {% when 3 %}
        <span class="label label-danger">cruciales</span>
        {% endcase %}
        <strong>sobre el juego.</strong>
    </div>
</div>
</div>