---
layout: infopage
title: Autores
---

<h1>Autores</h1>

<p>Estos somos quienes hacemos posible <strong>Guayaba 2600</strong>:</p>

</br>
<h2>Equipo principal</h2>
</br>
{% for author in site.data.authors %}
{% unless forloop.first %}
<hr>{% endunless %}
<div class="row" id="{{author.name}}">
    <div class="col-md-4">
        <img src="{% if author.avatar %}/img/avatars/{{author.avatar}}{% else %}/img/avatars/generic.png{% endif %}"
            alt="{{author.name}}" class="avatar-lg">
        </br></br>
        <ul class="list-unstyled">
            {% if author.homepage %}<li>{% octicon home %}<a href="{{author.homepage}}">{% if author.homepage-name %}
                    {{author.homepage-name}}{% else %} {{author.homepage}}{% endif %}</a></li>{% endif %}
            {% if author.email %}<li>{% octicon mail %}<a href="mailto:{{author.email}}"> {{author.email}}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-8">
        <h3>{% if author.fullname %}{{author.fullname}}
            <small>({{author.name}})</small>{% else %}{{author.name}}{% endif %}</h3>
        <div class="d-flex justify-content-start">{% for rol in author.roles %}<span class="badge badge-success tag"
                style="margin-right: 1rem;">{{rol}}</span>{% endfor %}</div>
        <div class="row">
            <div class="col" style="margin-top: 1rem;">
                {{author.blurb}}
            </div>
        </div>
    </div>
</div>
</br>
<!-- <div class="row">
    <div class="col-md-12">

    </div>
</div> -->

{% endfor %}

</br>
<h3>Otros colaboradores</h3>
<ol>
    {% for col in site.data.collabs %}
    <li>{{col.name}}{% if col.link %} - <a href="{{col.link}}">Enlace</a>{% endif %}
        {% endfor %}
</ol>