$dark-green: rgba(205, 235, 142, 1);
$light-green: rgba(165, 201, 86, 1);
$guayaba-red: #fa4747;
$guayaba-purple: #cc0066;
$ui-gray: #101010;
$ui-highlight: darken(#343a40, 5%);
$entry: #f2f7e9;
$border-default: 1px solid #ccc;
$font-stack: "Montserrat", "Helvetica", sans-serif;
$covershot-width: 300px;
$covershot-height: 200px;
$covershot-grid-width: 200px;
$covershot-grid-height: 133px;

// Bootstrap overrides

$pagination-color: $guayaba-red;
$pagination-hover-color: darken($guayaba-red, 5%);
$pagination-active-bg: darken($guayaba-red, 5%);
$pagination-active-border-color: $border-default;

$dropdown-bg: #343a40;
$dropdown-link-color: $guayaba-red;
$dropdown-link-hover-color: $guayaba-purple;
$dropdown-link-hover-bg: $ui-highlight;
// $dropdown-link-active-color: $component-active-color;
// $dropdown-link-active-bg: $component-active-bg;
// $dropdown-link-disabled-color:      $gray-600;
