---
layout: default
comments: true
---

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 entry">
        <div class="row">
        <div class="col-lg-12">
            <h5 class="text-muted">{{page.date | date: "%d/%m/%Y"}}</h5>
            <h2>{{page.title}}</h2>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        {{content}}
        </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                {% if page.comments %}
                <hr>
                {% include disqus.html %}
                {% endif %}
            </div>
        </div>
    </div>
</div>