---
layout: default
comments: true
---

<div class="row">
    <div class="col entry">
        <div class="row">
            <div class="col-md-12">
                <h6 class="text-muted">{{page.date | date: "%d/%m/%Y"}}</h6>
                <h2>{{page.title}}</h2>
                {% if page.author %}<h6 class="text-muted"><strong>Escrito por {{page.author}}</strong></h6>{% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{content}}
            </div>
        </div>
        {% if layout.comments %}
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    {% include share_dropdown.html %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    {% include disqus.html %}
                </div>
            </div>
        {% endif %}
    </div>
</div>