<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Guayaba 2600</title>
  {% if page.description %}
  <meta name="description" content="{{page.description}}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:500,900' rel='stylesheet' type='text/css'>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/guayaba.css" rel="stylesheet" media="screen">
  <link href="/img/favicon.ico" rel="shortcut icon">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for guayaba2600.com" href="/rss.xml" />
</head>
<body>
  
  <div class="container">
    
    <header> <!-- Cabecero -->
    <div class="row"> <!-- Logo -->
      <div class="col-lg-12 pagination-centered"><a href="/"><img src="/img/logo.png" alt="Guayaba 2600"></a></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p>Guayaba 2600 es una comunidad hispanohablante dedicada a explorar el mundo de los videojuegos con críticas y artículos para aficionados de paladares exigentes.</p>
        </div>
    </div>
    </header>
    
    <div class="row">
    <div class="navbar navbar-inverse"> <!-- Menu navegacion-->
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Principal</a></li>
            <li><a href="/reviews.html">Reseñas</a></li>
            <li><a href="/about.html">Manifiesto</a></li>
            <li><a href="/colabora.html">Colabora</a></li>
          </ul>
        </div> <!-- .nav-collapse -->
      </div> <!-- .container -->
    </div> <!-- .navbar -->
    </div>
    
    <!-- Area principal -->
    
    <div class="row">
      <!-- Contenido -->
      <div class="col-lg-8">
        {{ content }}
      </div>
      
      <!-- Sidebar -->
      <div class="col-lg-4">
      <aside id="sidebar">
        {% include sidebar.html %}
      </aside>
      </div>
    </div> <!-- .row -->
    
    
    <!-- Pie -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p class="pull-right">Diseño web &copy; 2013 Iago Mosquera &middot; <a href="https://twitter.com/iacus_es">Twitter</a></p>
          <p class="pull-left">Guayaba 2600 &copy; 2008-20XX Iago Mosquera.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>Todos los artículos en este sitio web &copy; de sus respectivos autores.</p>
        </div>
      </div>
    </footer>
    
  </div> <!-- .container -->
  
  <!-- JAVASCRIPTS -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  {% include disqus_comment_count.html %}
  {% include google-analytics.html %}
</body>
</html>