<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!-->
<!-- <html class="no-js" lang="es"> -->
<!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Guayaba 2600</title>
  {% if page.description %}
  <meta name="description" content="{{page.description}}{% if paginator %} (pag. {{paginator.page}}){% endif %}">
  {% elsif page.excerpt %}
  <meta name="description" content="{{page.excerpt | strip_html | truncate: 150}}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="/css/guayaba.css" rel="stylesheet" media="screen">
  <link href="/img/favicon.ico" rel="shortcut icon">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for guayaba2600.com" href="/rss.xml" />
</head>

<body>
  <div class="container">

    <div class="row">
      <div class="col">
        <header>
          <a href="/"><img src="/img/logo.png" class="img-fluid" alt="Guayaba 2600"></a>
        </header>
      </div>
    </div> <!-- Cabecero -->
    <div class="row">
      <div class="nopad col">
        {% include navbar.html %}
      </div>
    </div> <!-- navbar -->

    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div><!-- Area principal -->

    <div class="row">
      <div class="col">{% include footer.html %}</div>
    </div> <!-- Pie -->

  </div> <!-- .container -->
  <!-- JAVASCRIPTS -->
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/popper.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
  {% include disqus_comment_count.html %}
  {% include google-analytics.html %}
</body>

</html>
