<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Guayaba 2600</title>
  {% if page.description %}
  <meta name="description" content="{{page.description}}">
  {% elsif page.excerpt %}
  <meta name="description" content="{{page.excerpt | strip_html | truncate: 150}}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="/css/guayaba.css" rel="stylesheet" media="screen">
  <link href="/img/favicon.ico" rel="shortcut icon">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for guayaba2600.com" href="/rss.xml" />
</head>
<body>
  <script src="{{site.jquery}}"></script>
  <script src="/js/bootstrap.js"></script>
  <div class="container">
    
    <header> <!-- Cabecero -->
    <div class="row"> <!-- Logo -->
      <div class="col-md-6"><a href="/"><img src="/img/logo.png" class="img-responsive" alt="Guayaba 2600"></a></div>
    </div>
    <div class="row">
        <!--[if lt IE 8]><div class="alert alert-warning">Estás utilizando un navegador <strong>obsoleto</strong>. Por favor <a href="http://firefox.com/">actualiza tu navegador</a> para mejorar tu experiencia.</div><![endif]-->
    </div>
    </header>
    
    <div class="row">
      {% include navbar.html %}
    </div>
    
    <!-- Area principal -->
    
    <div class="row">
      <!-- Contenido -->
      <div class="col-md-12">
        {{ content }}
      </div>
    </div> <!-- .row -->
    
    
    <!-- Pie -->
    {% include footer.html %}
    
  </div> <!-- .container -->
  
  <!-- JAVASCRIPTS -->
  {% include disqus_comment_count.html %}
  {% include google-analytics.html %}
  
  
</body>
</html>