---
layout: default
---

<div class="row">
    <div class="col-md-10 col-md-offset-1 entry">
    <h1>Plataformas</h1>
    Esta página contiene todos los artículos sobre videojuegos disponibles en {{page.pname}}
    
    {% if page.photo %}
    <div class="jumbotron" style="background-color: #fff; background-image:url('/img/platforms/{{page.photo}}'); background-size: auto 100%; background-repeat:no-repeat">
            <h2 class="overtext">{{page.pname}}</h2>
            <p class="overtext">{{content}}</p>
    </div>
    {% else %}
    <h2>{{page.pname}}</h2>
    <p>{{content}}</p>
    {% endif %}
    
    <table class="table">
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Publicado el</th>
    </tr>
    {% sorted_for post in site.posts sort_by:title %}{% if post.layout != 'blogpost' %}{% if post.plataformas contains {{page.pname}} %}
    <tr>
        <td><a href="{{post.url}}">{{post.title}}</a>{% assign num = post.plataformas | size %}{% if num == 1 %} <span style="color: #a5c956; cursor: pointer;" class="glyphicon glyphicon-star" data-toggle="tooltip" title="exclusiva"></span>{% endif %}</td>
        <td>{% if post.author %}{{post.author}}{% else %}Anónimo{% endif %}</td>
        <td>{{post.date | date_to_string}}</td>
    </tr>
    {% endif %}{% endif %}{% endsorted_for %}
    </table>
    
    </div>
</div> <!-- .row -ptf-->