---
layout: commonpost
---


<div class="row">
    <div class="col-md-4  d-none d-sm-block">
        <img src="/img/covers/{{page.cover}}" class="img-fluid img-200 rounded border" alt="Carátula de {{page.title}}">
    </div>
    <div class="col-12 d-block d-sm-none">
        <img src="/img/covers/{{page.cover}}" class="img-fluid img-480 rounded border" alt="Carátula de {{page.title}}">
    </div>

    <div class="col-md-8">
        <ul class="list-unstyled">
            <li><strong>Reseña de:
                </strong>{% if page.originaltitle %}{{page.originaltitle}}{% else %}{{page.title}}{% endif %}</li>
            <li><strong>Desarrollado por: </strong>{{page.dev}} </li>
            <li><strong>Año: </strong>{{page.year}} </li>
            <li><strong>Formato: </strong>{{page.formato | join: ', ' }} </li>
            <li><strong>Género: </strong>{{page.genero | join: ', ' }} </li>
            <li><strong>Plataformas: </strong>{{page.plataformas | join: ', ' }} </li>
            <li><strong>Puntuación: </strong>
                {% if page.score == 0 %} <img src="/img/zero.gif" alt="*"> {% else %}
                {% include small_score_page.html %}
                {% endif %}
            </li>
        </ul>
        {% if page.definitive %}<p><small>Guayaba 2600 recomienda la versión {{page.definitive}}</small></p>{% endif %}
    </div>
</div>

{% if page.spoiler %}{% include spoiler_warning.html %}{% endif %}
<div class="row">
    <div class="col-md-10 post-text">{{content}}</div>
</div>

{% for col in site.colecciones %}
{% for juego in col.miembros %}
{% if page.title == juego %}
{% include panel_coleccion.html coleccion=col juego=page.title %}
{% endif %}
{% endfor %}
{% endfor %}
